body{
  background-color: blue;
  margin: 0px;
  padding: 0px;

}
.main_btns
{
    display: block;
    width: 100%;
    text-align: right;

}
.main_btns button{
  margin-right: 20px;
}
.form
{
  background-color: white;
  width: 600px;
  margin:100px auto;
  margin-bottom: 0px;
  height: 100%;
  padding: 20px;
}
.form input
{
  padding:10px
}

.personal_info{
  display: inline-block;
}
.personal_info input{
  display: block;
}

.book_info{
  display: inline-block;
  float:right;
}
.book_info input{
  display: block;
}
